name: Android Release

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "12.x"

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
          channel: "stable"

      - name: Get dependencies
        run: flutter pub get

      - name: Build Android APK
        env:
          API_URL: ${{ secrets.API_URL }}
        run: flutter build apk --split-per-abi --release --dart-define="API_URL=${API_URL}"

      - name: Upload mappings.txt, sourcemaps and apk
        uses: actions/upload-artifact@v3
        with:
          path: |
            build/app/outputs/flutter-apk/*.apk
            build/app/outputs/mapping/**/mapping.txt
