name: Android Release

on: 
  push:
    tags:
    - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "12.x"

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
          channel: "stable"

      - name: Get dependencies
        run: flutter pub get

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: "5.x"

      - name: Use GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7

      - name: Build Android APK
        run: |
          flutter build apk --split-per-abi --release --dart-define="GH_REPO=${{ vars.GH_REPO }}" --dart-define="API_URL=${{ vars.API_URL }}" --build-name=${{ steps.gitversion.outputs.majorMinorPatch }} --build-number=${{ github.run_number }}

      # - name: Upload mappings.txt, sourcemaps and apk
      #   uses: actions/upload-artifact@v3
      #   with:
      #     path: |
      #       build/app/outputs/flutter-apk/*.apk
      #       build/app/outputs/mapping/**/mapping.txt

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk,build/app/outputs/mapping/**/mapping.txt"